@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .login-form-container {
        @apply text-center h-[calc(100vh-80px)] w-[60%] mx-auto pt-[7%]
    }

    .login-form-container h1 {
        @apply text-3xl
    }

    .control {
        @apply text-xl my-5
    }

    .text-input {
        @apply rounded-md w-[45%] p-3
    }

}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f0d852;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}